# Node.js modules
node_modules/

# Environment files
.env

# Logs and temp
*.log
*.tmp

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Weather and wind JSONs
*.json

# VSCode settings (optional)
.vscode/
